.about_me {
	@media only screen and (max-width: 767px) {
		display: flex;
		flex-direction: column !important;
	}
	&--text_style {
		color: var(--text-gray-color);
	}
	&--input {
		width: 100%;
		height: 8rem;
		border: 1px solid var(--border-color);
		border-radius: 0.5rem;
		padding: 0 2rem;
		margin-bottom: 1.5rem;
		@media only screen and (min-width: 768px) {
			height: 5.2rem;
		}
		@media only screen and (min-width: 992px) {
			font-size: 1.5rem;
		}
		@media only screen and (max-width: 767px) {
			height: 4.5rem;
		}
		@media only screen and (max-width: 479px) {
			width: 100%;
		}
		&:focus {
			border-color: var(--secondary-color);
		}
	}
	&--inner {
		background: var(--white-color);
		box-shadow: 0 2px 22px rgba(0, 0, 0, 0.16);
		padding: 3rem 2rem;
		margin: 0 auto;
		@media only screen and (min-width: 1199px) {
			padding: 5rem 4rem;
			width: 80%;
			margin: 0 auto;
		}
		@media only screen and (max-width: 1198px) {
			width: 80%;
		}
		@media only screen and (max-width: 991px) {
			width: 80%;
			margin: 0 auto;
		}
		@media only screen and (max-width: 767px) {
			margin: 0 auto;
			width: 80%;
		}
		@media only screen and (max-width: 479px) {
			width: 90%;
		}
	}
	&__change_btn {
		width: 40%;
		cursor: pointer;
		text-align: center;
		margin-bottom: 3%;
	}
	&--btn {
		margin-top: 4%;
		width: 40%;
		border-radius: 0.5rem;
		font-size: 1.5rem;

		@media only screen and (min-width: 992px) {
			font-size: 1.7rem;
		}
		@media only screen and (max-width: 767px) {
			height: 4rem;
			line-height: 4rem;
		}
	}
	&__pencil {
		cursor: pointer;
		&:hover {
			color: var(--secondary-color);
		}
	}
}

.about_me-input {
  font-size: 100%;
  height: auto;
  padding: 10px 15px;
}
