.floating_input {
  margin-bottom: 1rem;
  &__field {
    height: 4.8rem !important;
    padding-top: 33px !important;
    font-size: 20px;
    padding-bottom: 15px;
  }
		&__label {
      padding-top: 11px;
      background-color: transparent;
      font-size: 17px;
      justify-content: center;
		}
}