.error__content {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start; /* Change the value to flex-start */
	height: 70vh;
	background-image: url('/src/img/other/404.png');
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	text-align: center;
	padding: 2rem;
	&--title {
		font-weight: 600;
		text-transform: uppercase;
		margin-bottom: 1.5rem;
		margin-top: auto;
		font-size: 2rem;
		line-height: 3rem;
		text-shadow: 1px 1px 5px rgba(80, 79, 79, 0.5);
		@media only screen and (min-width: 576px) {
			margin-bottom: 1.5rem;
			font-size: 2.4rem;
			line-height: 2.8rem;
		}
	}
	&--btn {
		box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.67);
		align-self: center;
		justify-self: center;
		margin-top: 0rem;
		margin-bottom: auto;
		@media only screen and (min-width: 992px) {
			font-size: 1.6rem;
		}
	}
}
