.poster--items {
	position: relative;
	&__inner {
		padding: 6rem 0;
		@media only screen and (min-width: 768px) {
			padding: 6rem 0;
		}
		@media only screen and (min-width: 992px) {
			padding: 6.5rem 0;
		}
		@media only screen and (min-width: 1200px) {
			padding: 7rem 0;
		}
		@media only screen and (min-width: 1600px) {
			padding: 14.7rem 0;
		}
	}
}
.poster__content {
	@media only screen and (max-width: 1599px) {
		padding-left: 5rem;
	}
	@media only screen and (max-width: 1199px) {
		padding-left: 5rem;
	}
	@media only screen and (max-width: 991px) {
		padding-left: 3.5rem;
	}
	@media only screen and (max-width: 767px) {
		text-align: center;
		padding-left: 0;
	}
	&.center {
		padding-left: 0;
	}
	&--maintitle {
		margin-bottom: 2rem;
		@media only screen and (min-width: 768px) {
			margin-bottom: 1.3rem;
		}
		@media only screen and (min-width: 992px) {
			margin-bottom: 1.5rem;
		}
		@media only screen and (min-width: 1600px) {
			margin-bottom: 1.8rem;
		}
	}
	&--desc {
		font-size: 1.6rem;
		line-height: 2.5rem;
		@media only screen and (min-width: 992px) {
			font-size: 1.7rem;
			line-height: 2.8rem;
		}
		@media only screen and (min-width: 1600px) {
			font-size: 1.8rem;
			line-height: 3.1rem;
		}
		&.desc1 {
			font-weight: 500;
		}
		&.mb-40 {
			@media only screen and (max-width: 1199px) {
				margin-bottom: 2.8rem;
			}
			@media only screen and (max-width: 1200px) {
				margin-bottom: 2.5rem;
			}
			@media only screen and (max-width: 991px) {
				margin-bottom: 2.2rem;
			}
			@media only screen and (max-width: 991px) {
				margin-bottom: 1.8rem;
			}
		}
	}
}
.poster_hero--activation {
	& .swiper-button-prev {
		left: 1rem;
		@media only screen and (min-width: 768px) {
			left: 1rem;
		}
		@media only screen and (min-width: 992px) {
			left: 2rem;
		}
	}
}
.poster_primary__btn--arrow__icon {
	vertical-align: middle;
	margin-left: 0.3rem;
}
.poster_home3__slider--bg {
	background: url(/src/img/productsHome/posterHome.png);
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-position: center center;
	background-size: cover;
	@media only screen and (max-width: 767px) {
		background-position: 25%;
	}
}
