.poster_col {
	display: flex;
	justify-content: space-around;
	&__img {
		display: flex;
		align-items: center;
	}
	&__info {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		&--priceAndTimer {
			display: flex;
			justify-content: space-around;
			margin: 2rem 0;
			min-width: 30rem;
		}
		&--price {
			font-weight: 500;
			font-size: 3rem;
			color: var(--black-color);
			@media only screen and (max-width: 992px) {
				font-size: 2.5rem;
			}
		}
		&--title {
			color: var(--black-color);
			text-align: center;
			margin-bottom: 1rem;
			@media only screen and (max-width: 992px) {
				font-size: 3rem;
			}
		}
		&--btn {
			width: 30rem;
			height: 5rem;
			text-align: center;
			border: none;
			border-radius: var(--border-radius);
			color: var(--white-color);
			background-color: var(--secondary-color);
			margin-top: 3rem;
			@media only screen and (max-width: 992px) {
				font-size: 1.5rem;
				width: 23rem;
			}
			&:hover {
				transform: scale(1.1);
				background-color: var(--hover-btn-color);
			}
		}
	}
}

.poster_swiper:hover .swiper-button-prev.swiper-button-disabled,
.poster_swiper:hover .swiper-button-next.swiper-button-disabled {
	opacity: 0.35;
}

.poster_swiper {
	height: 50vh;
	background-color: #e0e4e6;
	@media only screen and (max-width: 1400px) {
		height: 40vh;
	}
	@media only screen and (max-width: 992px) {
		height: 30vh;
	}
	@media only screen and (max-width: 700px) {
		display: none;
	}
}
