/*
    17. Product details page css
*/
.product__media {
	&--preview {
		&__items {
			position: relative;
			&--link {
				width: 100%;
				display: block;
			}
			&--img {
				width: 100%;
				display: block;
			}
		}
	}
	&--view__icon {
		position: absolute;
		top: 2rem;
		left: 2rem;
		&--link {
			width: 3.5rem;
			height: 3.5rem;
			line-height: 3.3rem;
			text-align: center;
			background: var(--secondary-color);
			border-radius: 50%;
			color: var(--white-color);
			&:hover {
				background: var(--primary-color);
				color: var(--white-color);
			}
		}
		&.media__play {
			right: 2rem;
			left: auto;
		}
	}
}

.product__media--nav {
	margin-top: 2rem;
	&__items {
		border: 1px solid var(--border-color2);
		padding: 0.5rem;
		&--img {
			width: 100%;
			display: block;
			cursor: pointer;
			&.active {
				border: 2px solid var(--secondary-color);
			}
		}
	}
}
.product__details--info {
	@media only screen and (min-width: 768px) {
		font-size: 1.6rem;
	}
	&__title {
		@media only screen and (min-width: 992px) {
			font-size: 2.8rem;
		}
		&.style2 {
			@media only screen and (min-width: 992px) {
				font-size: 2.5rem;
			}
		}
	}
	&__price {
		& .current__price {
			font-size: 1.6rem;
			@media only screen and (min-width: 992px) {
				font-size: 2rem;
			}
		}
		& .old__price {
			font-size: 1.4rem;
			margin-left: 0.8rem;
			@media only screen and (min-width: 992px) {
				font-size: 1.8rem;
			}
		}
	}
	&__desc {
		@media only screen and (min-width: 992px) {
			font-size: 1.6rem;
			line-height: 2.8rem;
		}
	}
}

.product__details_variant__buy--now__btn {
	width: 100%;
}
.product__variant {
	&--title {
		font-size: 1.5rem;
		font-weight: 700;
		margin-right: 1rem;
	}
}
.product__details--info__meta {
	&--list {
		font-size: 1.5rem;
		margin-bottom: 0.8rem;
		&:last-child {
			margin-bottom: 0;
		}
	}
}

.product__details--gallery {
	position: sticky;
	top: 0;
	@media only screen and (max-width: 767px) {
		margin-bottom: 4.5rem;
	}
}

.product__details_add__to--cart__text.style2 {
	@media only screen and (min-width: 992px) and (max-width: 1199px) {
		display: none;
	}
}
