.swiper_modal_window {
	&__big_img {
		margin-bottom: 1.5rem;
		&--items {
			display: flex;
			justify-content: center;
		}
		&--item {
			max-height: 30rem;
		}
	}
	&__thumbs {
		max-height: 90px;
		display: flex;
		align-items: center;
		position: relative;
		&--delete {
			position: absolute;
			top: -5px;
			right: 60px;
			transition: var(--transition);
			width: 25px;
			height: 25px;
			&:hover {
				color: var(--secondary-color);
			}
		}
		&--item {
			display: flex;
			align-items: center;
			justify-content: center;
			cursor: pointer;
		}
		&--small_img {
			max-width: 70px;
			max-height: 90px;
		}
		&--active-slide {
			border-left: 3px solid var(--secondary-color);
			border-right: 3px solid var(--secondary-color);
		}
	}
}
.swiper-button-next,
.swiper-button-prev {
	color: var(--secondary-color);
}
.swiper-wrapper {
	display: flex;
	align-items: center;
}

.swiper_modal_window__big_img:hover .swiper-button-next,
.swiper_modal_window__big_img:hover .swiper-button-prev {
	display: block;
	opacity: 1;
}

.swiper_modal_window__big_img:hover .swiper-button-prev.swiper-button-disabled,
.swiper_modal_window__big_img:hover .swiper-button-next.swiper-button-disabled {
	opacity: 0.35;
}
