.swiper-button-next,
.swiper-button-prev,
.swiper-button-prev.swiper-button-disabled,
.swiper-button-next.swiper-button-disabled {
	opacity: 0;
	transition: var(--transition);
}

.swiper-pagination-bullet {
	border: none;
}

.swiper-button-next,
.swiper-button-prev {
	color: var(--secondary-color);
}
.swiper-wrapper {
	display: flex;
	align-items: center;
}

