.timer {
	display: flex;
	justify-content: center;
	padding: 0;
	font-size: 1.8rem;
	font-weight: 500;
	max-width: 170px;
	margin-bottom: 1rem;
	background-color: var(--background-timer-color);
	width: 170px;
	border-radius: var(--border-radius);
	&__last_moments {
		display: flex;
		justify-content: center;
		padding: 0;
		font-size: 1.8rem;
		font-weight: 500;
		max-width: 170px;
		margin-bottom: 1rem;
		background-color: var(--background-timer-last-moments-color);
		transition: 2s;
		min-width: 170px;
		border-radius: var(--border-radius);
		@media only screen and (max-width: 576px) {
			font-size: 1.3rem;
			min-width: 130px;
		}
	}
	&__item_days {
		margin-right: 0.5rem;
	}
	&__items {
		min-width: 25px;
	}
	&__finish {
		transition: all 2s;
		text-align: center;
		padding: 0;
		font-size: 1.8rem;
		font-weight: 500;
		max-width: 170px;
		margin-bottom: 1rem;
		background-color: var(--background-timer-finish-color);
		min-width: 170px;
		border-radius: var(--border-radius);
		@media only screen and (max-width: 576px) {
			font-size: 1.2rem;
			width: 120px;
		}
	}
	@media only screen and (max-width: 576px) {
		font-size: 1.3rem;
		min-width: 130px;
	}
}
