.tooltip__text {
	position: absolute;
  min-width: fit-content;
  padding: 4px 12px;
	right: 10px;
  color: var(--black-color);
  background-color: var(--white-color);
  text-align: center;
  white-space: nowrap;
  pointer-events: none;
	z-index: 1000;
}
