.users_list {
	&__info {
		height: 5rem;
		border-bottom: 1px solid var(--border-color2);
		transition: var(--transition);

		&:hover {
			background-color: var(--ofwhite-color);
		}
	}
	&__item {
		width: 30rem;
		&--status {
			width: 5rem;
		}
	}
	&__status {
		font-size: 1.4rem;
		padding: 5px;
		color: var(--white-color);
		transition: var(--transition);
		cursor: pointer;
		&--active {
			background-color: green;
			&:hover {
				opacity: 0.6;
			}
		}
		&--blocked {
			background-color: red;
			&:hover {
				opacity: 0.6;
			}
		}
	}
}
