.users_list {
	&__container {
		width: 80%;
		margin: 2rem auto;
		position: relative;
	}
	&__table {
		text-align: center;
		margin: 0 auto;
		width: 100%;
	}
	&__info {
		height: 5rem;
		border-bottom: 1px solid var(--border-color2);
		transition: var(--transition);
		&:hover {
			background-color: var(--ofwhite-color);
		}
		&--name {
			text-align: left;
			width: 20rem;
		}
		&--status {
			width: 10rem;
		}
	}
	&__item {
		&--name {
			display: inline;
			width: fit-content;
			cursor: pointer;
			transition: var(--transition);
			&:hover {
				color: var(--secondary-color);
			}
			&__sort_icon {
				display: inline;
				margin-left: 0.5rem;
			}
		}
		&--email,
		&--phone {
			width: 20rem;
		}
		&--address {
			width: 30rem;
		}
	}
	&__status {
		font-size: 1.4rem;
		padding: 5px;
		color: var(--white-color);
		transition: var(--transition);
		cursor: pointer;
		&--active {
			border-radius: var(--border-radius);
			background-color: var(--success-btn-color);
			&:hover {
				background-color: var(--hover-success-btn-color);
			}
		}
		&--blocked {
			border-radius: var(--border-radius);
			background-color: var(--danger-btn-color);
			&:hover {
				background-color: var(--hover-danger-btn-color);
			}
		}
		&--confirm_user {
			border-radius: var(--border-radius);
			background-color: var(--success-btn-color);
			&:hover {
				background-color: var(--hover-success-btn-color);
			}
		}
	}
}

.users_list__edit {
	width: 5rem;
	cursor: pointer;
	&--btn {
		margin: 0 auto;
		padding: 5px;
		color: var(--white-color);
		border-radius: var(--border-radius);
		background-color: #40a9e1;
		transition: var(--transition);
		&:hover {
			background-color: #3087b5;
		}
	}
}
