/*
  ----------------------------
  [Table of contents CSS] 
  ----------------------------

    1. Base CSS
    2. Header css
    3. Slider css
    4. Product card css
    5. Banner css
    6. Blog css 
    7. Testimonial css
    8. Featured services css
    9. Footer css
    10. Quick view modal css
    11. Accordion css
    12. Portfolio css
    13. Brand logo css
    14. Breadcrumb css
    15. About page css
    16. Shop page css
    17. Product details page css
    18. Blog details css
    19. Contact page css
    20. Cart page css
    21. Checkout page css
    22. My account page css
    23. 404 page css
    24. Login page css
    25. Compare page css
    26. FAQ page css
    27. Preloader css
    28. Privacy policy page css
    29. Newsletter popup css
*/

@import "scss/global";
@import "./components/Footer/Footer.module.scss";
@import 'bootstrap/dist/css/bootstrap.css';


// @import "elements/header";
// @import "elements/slider";
// @import "elements/product";
// @import "elements/banner";
// @import "elements/blog";
// @import "elements/testimonial";
// @import "elements/shipping";
// @import "elements/footer";
// @import "elements/quickview";
// @import "elements/accordion";
// @import "elements/portfolio";
// @import "elements/brand-logo";
// @import "elements/breadcrumb";
// @import "elements/about";
// @import "elements/shop";
// @import "elements/product-details";
// @import "elements/blog-details";
// @import "elements/contact";
// @import "elements/cart-page";
// @import "elements/checkout";
// @import "elements/my-account";
@import './features/NotFound/NotFound.module.scss';
// @import "elements/login";
// @import "elements/compare";
// @import "elements/faq";
// @import "elements/preloader";
// @import "elements/privacy-policy";
// @import "elements/newsletter-popup";
